@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

$offwhite       :  #eee8d6;
$darkblue       :  #022933;
$black          :  #000;
$yellow         :  #ffba00;
$blue           :  #0076a3;
$lightblue      :  #0882e5;
$green          :  #548c27;
$orange         :  #f39856;
$red            :  #d14348;
$purple         :  #6d73c2;
$aliceblue      :  #66cfff;
$aquamarine     : aquamarine;
$spinnerColor   : #007bff;

$font-family: 'Source Sans Pro', sans-serif;

//breakpoints

$small: 500px;
$medium: 800px;
$mid-medium: 1000px;
$large: 1200px;
